*{
    margin: 0;
}

header{
    width: 100vw;
    height: 111px;
    left: 0px;
    top: 0px;
    background: #EEF8FF;
}

header >span{
    margin-top: 45px;

    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 165px;
    height: 84px;
    top: 13px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 84px;
    color: #2C5695;
}
/*
section >span >img{
    width: 35px;
    height: 30px;
}
*/
section{
    display: flex;
    flex-direction: column;
}

.button{
    background-image: url(./imgs/emptyCheckBox.png);
    background-size: cover;
    width: 55px;
    height: 50px;
    border: none;
}

.button:active{
    transform: scale(0.98);
    background-image: url(./imgs/fillCheckBox.png);
}

section{
    margin-top: 100px;
}

section >span{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

section >sp